In [ ]:
#random forest

In [4]:
import numpy as np
import pandas as pd

In [6]:
loans = pd.read_csv('lending_club_new_data.csv')
loans.head()

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,bad_loans,emp_length_num,grade_num,sub_grade_num,delinq_2yrs_zero,payment_inc_ratio
0,5000,5000,4975,10.65,162.87,24000,27.65,0,1,3,...,0.00,0.00,0.00,171.62,0,11,5,0.4,1,8.14350
1,2500,2500,2500,15.27,59.83,30000,1.00,0,5,3,...,0.00,117.08,1.11,119.66,1,1,4,0.8,1,2.39320
2,2400,2400,2400,15.96,84.33,12252,8.72,0,2,2,...,0.00,0.00,0.00,649.91,0,11,4,1.0,1,8.25955
3,10000,10000,10000,13.49,339.31,49200,20.00,0,1,10,...,16.97,0.00,0.00,357.48,0,11,4,0.2,1,8.27585
4,5000,5000,5000,7.90,156.46,36000,11.20,0,3,9,...,0.00,0.00,0.00,161.03,0,4,6,0.8,1,5.21533

In [7]:
loans.tail()

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,bad_loans,emp_length_num,grade_num,sub_grade_num,delinq_2yrs_zero,payment_inc_ratio
9511,6000,6000,6000,23.40,170.53,45600,1.50,1,0,3,...,0.0,0.0,0.000,170.53,1,0,2,1.0,0,4.487630
9512,15250,15250,15250,17.57,548.05,65000,11.26,1,2,8,...,0.0,0.0,0.000,14810.30,0,11,3,0.4,0,10.117800
9513,8525,8525,8525,18.25,217.65,37536,12.28,4,0,12,...,0.0,1159.4,11.594,217.65,1,6,3,0.6,0,6.958120
9514,22000,22000,22000,19.97,582.50,78000,18.45,0,5,18,...,0.0,0.0,0.000,17.50,1,11,3,1.0,1,8.961540
9515,2000,2000,2000,7.90,62.59,83000,5.39,3,1,21,...,0.0,0.0,0.000,1500.68,0,4,6,0.8,0,0.904916

In [8]:
loans.describe

<bound method NDFrame.describe of       loan_amnt  funded_amnt  funded_amnt_inv  int_rate  installment  \
0          5000         5000             4975     10.65       162.87
1          2500         2500             2500     15.27        59.83
2          2400         2400             2400     15.96        84.33
3         10000        10000            10000     13.49       339.31
4          5000         5000             5000      7.90       156.46
5          3000         3000             3000     18.64       109.43
6          5600         5600             5600     21.28       152.39
7          5375         5375             5350     12.69       121.45
8          6500         6500             6500     14.65       153.45
9         12000        12000            12000     12.69       402.54
10         9000         9000             9000     13.49       305.38
11         3000         3000             3000      9.91        96.68
12        10000        10000            10000     10.65       325.74
13         1000         1000             1000     16.29        35.31
14        10000        10000            10000     15.27       347.98
15         3600         3600             3600      6.03       109.57
16         6000         6000             6000     11.71       198.46
17         9200         9200             9200      6.03       280.01
18        21000        21000            21000     12.42       701.73
19        10000        10000            10000     11.71       330.76
20        10000        10000            10000     11.71       330.76
21         6000         6000             6000     11.71       198.46
22        15000        15000            15000      9.91       483.38
23        15000        15000             8725     14.27       514.64
24         5000         5000             5000     16.77       123.65
25         4000         4000             4000     11.71       132.31
26         8500         8500             8500     11.71       281.15
27         4375         4375             4375      7.51       136.11
28        31825        31825            31825      7.90       995.82
29         5000         5000             5000      8.90       158.77
...         ...          ...              ...       ...          ...
9486       9000         9000             9000      7.90       281.62
9487      15000        15000            15000     24.08       432.22
9488      21000        21000            20800     10.99       687.42
9489       7000         7000             6900     13.53       237.65
9490       8250         8250             8250     16.24       291.03
9491      10000        10000            10000     18.25       255.30
9492       9450         9450             9450     15.61       330.42
9493      12375        12375            12375     14.98       428.87
9494      27575        27575            27575     19.97       730.11
9495      18000        18000            18000     21.48       491.84
9496      28000        28000            28000     14.98       665.83
9497      14000        14000            14000      8.90       444.55
9498      24000        24000            23800     13.98       558.19
9499      10000        10000            10000     13.53       339.50
9500      28000        28000            28000     14.98       665.83
9501      10000        10000             9925     11.99       332.10
9502      17000        17000            17000     22.40       473.40
9503       8000         8000             8000     14.98       277.25
9504      24000        24000            24000     14.47       564.31
9505      35000        35000            35000     16.99      1247.68
9506      35000        35000            35000     23.40       994.73
9507       5000         5000             5000      8.90       158.77
9508      24000        24000            23925     25.83       716.16
9509       6000         6000             6000     18.25       217.67
9510       6000         6000             6000     13.53       203.70
9511       6000         6000             6000     23.40       170.53
9512      15250        15250            15250     17.57       548.05
9513       8525         8525             8525     18.25       217.65
9514      22000        22000            22000     19.97       582.50
9515       2000         2000             2000      7.90        62.59

      annual_inc    dti  delinq_2yrs  inq_last_6mths  open_acc  \
0          24000  27.65            0               1         3
1          30000   1.00            0               5         3
2          12252   8.72            0               2         2
3          49200  20.00            0               1        10
4          36000  11.20            0               3         9
5          48000   5.35            0               2         4
6          40000   5.55            0               2        11
7          15000  18.08            0               0         2
8          72000  16.12            0               2        14
9          75000  10.78            0               0        12
10         30000  10.08            0               1         4
11         15000  12.56            0               2        11
12        100000   7.06            0               2        14
13         28000  20.31            0               1        11
14         42000  18.60            0               2        14
15        110000  10.52            0               0        20
16         84000  18.44            2               0         4
17         77385   9.86            0               0         8
18        105000  13.22            0               0         7
19         50000  11.18            0               0         8
20         50000  16.01            0               0         6
21         76000   2.40            0               1         7
22         92000  29.44            0               0         8
23         60000  15.22            0               1         7
24         50004  13.97            3               0        14
25        106000   5.63            1               0        12
26         25000  12.19            0               0         8
27         17108  20.34            0               0         6
28         75000  14.03            0               0        12
29         24044  11.93            0               0         8
...          ...    ...          ...             ...       ...
9486       37000  13.95            0               0         6
9487       70000  13.85            0               1        16
9488       62692   9.63            1               0        11
9489       43000  27.75            0               0         8
9490       33000  15.60            0               2        14
9491       35400  15.73            0               3        12
9492       27000  18.09            0               0         4
9493       30000  30.28            4               1        12
9494       75000  23.58            0               2        15
9495       55200  22.83            1               2        12
9496      126000  11.48            0               1         7
9497      150000   7.57            0               3        14
9498       90000   7.13            0               0         7
9499       37000  19.62            0               0         9
9500      120000  14.02            0               2         9
9501       80000   4.02            1               0         7
9502       70000  11.23            0               1        11
9503       40800  26.21            0               4        17
9504      200000   7.21            0               0        12
9505       84000  19.56            1               0        16
9506      102000  23.90            1               2        15
9507      130000  14.60            0               1         8
9508       60000  26.27            1               0        12
9509       96000   6.41            0               2         9
9510       45000  18.69            1               2        14
9511       45600   1.50            1               0         3
9512       65000  11.26            1               2         8
9513       37536  12.28            4               0        12
9514       78000  18.45            0               5        18
9515       83000   5.39            3               1        21

            ...          total_rec_late_fee  recoveries  \
0           ...                        0.00        0.00
1           ...                        0.00      117.08
2           ...                        0.00        0.00
3           ...                       16.97        0.00
4           ...                        0.00        0.00
5           ...                        0.00        0.00
6           ...                        0.00      189.06
7           ...                        0.00      269.29
8           ...                        0.00        0.00
9           ...                        0.00        0.00
10          ...                        0.00      444.30
11          ...                        0.00        0.00
12          ...                        0.00      645.10
13          ...                        0.00        0.00
14          ...                        0.00        0.00
15          ...                        0.00        0.00
16          ...                       15.00        0.00
17          ...                        0.00        0.00
18          ...                        0.00        0.00
19          ...                        0.00        0.00
20          ...                        0.00        0.00
21          ...                        0.00      269.31
22          ...                        0.00        0.00
23          ...                        0.00        0.00
24          ...                        0.00      260.96
25          ...                        0.00        0.00
26          ...                        0.00        0.00
27          ...                        0.00        0.00
28          ...                        0.00        0.00
29          ...                        0.00        0.00
...         ...                         ...         ...
9486        ...                        0.00        0.00
9487        ...                        0.00        0.00
9488        ...                        0.00        0.00
9489        ...                        0.00        0.00
9490        ...                        0.00        0.00
9491        ...                        0.00        0.00
9492        ...                        0.00        0.00
9493        ...                        0.00        0.00
9494        ...                        0.00        0.00
9495        ...                        0.00        0.00
9496        ...                        0.00     3753.92
9497        ...                        0.00        0.00
9498        ...                        0.00        0.00
9499        ...                        0.00        0.00
9500        ...                        0.00        0.00
9501        ...                        0.00        0.00
9502        ...                        0.00        0.00
9503        ...                        0.00        0.00
9504        ...                        0.00        0.00
9505        ...                        0.00        0.00
9506        ...                        0.00        0.00
9507        ...                        0.00        0.00
9508        ...                        0.00        0.00
9509        ...                        0.00        0.00
9510        ...                        0.00        0.00
9511        ...                        0.00        0.00
9512        ...                        0.00        0.00
9513        ...                        0.00     1159.40
9514        ...                        0.00        0.00
9515        ...                        0.00        0.00

      collection_recovery_fee  last_pymnt_amnt  bad_loans  emp_length_num  \
0                      0.0000           171.62          0              11
1                      1.1100           119.66          1               1
2                      0.0000           649.91          0              11
3                      0.0000           357.48          0              11
4                      0.0000           161.03          0               4
5                      0.0000           111.34          0              10
6                      2.0900           152.39          1               5
7                      2.5200           121.45          1               1
8                      0.0000          1655.54          0               6
9                      0.0000          6315.30          0              11
10                     4.1600           305.38          1               1
11                     0.0000           102.43          0               4
12                     6.3145           325.74          1               4
13                     0.0000            36.32          0               1
14                     0.0000           370.46          0               5
15                     0.0000           583.45          0              11
16                     0.0000            16.98          0               2
17                     0.0000          8061.10          0               7
18                     0.0000           701.73          1              11
19                     0.0000           349.21          0              11
20                     0.0000          4942.63          0               6
21                     2.5700           198.46          1               2
22                     0.0000          2447.05          0               3
23                     0.0000             0.00          1              10
24                     2.3000           123.65          1               3
25                     0.0000          2638.77          0              11
26                     0.0000           581.59          0               1
27                     0.0000           144.94          0               8
28                     0.0000         16966.70          0               6
29                     0.0000           163.64          0               3
...                       ...              ...        ...             ...
9486                   0.0000             3.78          0              11
9487                   0.0000          1571.40          0               7
9488                   0.0000         19681.60          0               9
9489                   0.0000           237.65          1               2
9490                   0.0000          6204.82          0               1
9491                   0.0000          4465.35          0              11
9492                   0.0000           100.00          1               1
9493                   0.0000          3562.63          0               4
9494                   0.0000         27192.90          0               7
9495                   0.0000         17238.70          0               4
9496                  37.5392           665.83          1               9
9497                   0.0000         14103.80          0               4
9498                   0.0000         21309.30          0              11
9499                   0.0000           339.50          1               1
9500                   0.0000         25672.80          0               4
9501                   0.0000          8408.39          0              11
9502                   0.0000         15775.30          0              11
9503                   0.0000           277.25          1               1
9504                   0.0000         21661.10          0              11
9505                   0.0000          1247.68          1              11
9506                   0.0000         35364.30          0              11
9507                   0.0000          4415.18          0               3
9508                   0.0000         23675.20          0              11
9509                   0.0000          4863.35          0               1
9510                   0.0000           203.70          1               5
9511                   0.0000           170.53          1               0
9512                   0.0000         14810.30          0              11
9513                  11.5940           217.65          1               6
9514                   0.0000            17.50          1              11
9515                   0.0000          1500.68          0               4

      grade_num  sub_grade_num  delinq_2yrs_zero  payment_inc_ratio
0             5            0.4                 1           8.143500
1             4            0.8                 1           2.393200
2             4            1.0                 1           8.259550
3             4            0.2                 1           8.275850
4             6            0.8                 1           5.215330
5             2            0.2                 1           2.735750
6             1            0.4                 1           4.571700
7             5            1.0                 1           9.716000
8             4            0.6                 1           2.557500
9             5            1.0                 1           6.440640
10            4            0.2                 1          12.215200
11            5            0.2                 1           7.734400
12            5            0.4                 1           3.908880
13            3            0.2                 1           1.513290
14            4            0.8                 1           9.942290
15            6            0.2                 1           1.195310
16            5            0.6                 0           2.835140
17            6            0.2                 1           4.342080
18            5            0.8                 1           8.019770
19            5            0.6                 1           7.938240
20            5            0.6                 1           7.938240
21            5            0.6                 1           3.133580
22            5            0.2                 1           6.304960
23            4            0.4                 1          10.292800
24            3            0.4                 0           2.967360
25            5            0.6                 0           1.497850
26            5            0.6                 1          13.495200
27            6            0.6                 1           9.547110
28            6            0.8                 1          15.933100
29            6            1.0                 1           7.923970
...         ...            ...               ...                ...
9486          6            0.8                 1           9.133620
9487          1            0.4                 1           7.409490
9488          5            0.4                 0          13.158000
9489          5            1.0                 1           6.632090
9490          4            1.0                 1          10.582900
9491          3            0.6                 1           8.654240
9492          4            0.8                 1          14.685300
9493          4            0.6                 0          17.154800
9494          3            1.0                 1          11.681800
9495          2            0.4                 0          10.692200
9496          4            0.6                 1           6.341240
9497          6            1.0                 1           3.556400
9498          4            0.2                 1           7.442530
9499          5            1.0                 1          11.010800
9500          4            0.6                 1           6.658300
9501          5            0.6                 0           4.981500
9502          2            0.6                 1           8.115430
9503          4            0.6                 1           8.154410
9504          4            0.4                 1           3.385860
9505          3            0.2                 0          17.824000
9506          2            1.0                 0          11.702700
9507          6            1.0                 1           1.465570

In [9]:
loans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9516 entries, 0 to 9515
Data columns (total 24 columns):
loan_amnt                  9516 non-null int64
funded_amnt                9516 non-null int64
funded_amnt_inv            9516 non-null int64
int_rate                   9516 non-null float64
installment                9516 non-null float64
annual_inc                 9516 non-null int64
dti                        9516 non-null float64
delinq_2yrs                9516 non-null int64
inq_last_6mths             9516 non-null int64
open_acc                   9516 non-null int64
total_pymnt                9516 non-null float64
total_pymnt_inv            9516 non-null float64
total_rec_prncp            9516 non-null float64
total_rec_int              9516 non-null float64
total_rec_late_fee         9516 non-null float64
recoveries                 9516 non-null float64
collection_recovery_fee    9516 non-null float64
last_pymnt_amnt            9516 non-null float64
bad_loans                  9516 non-null int64
emp_length_num             9516 non-null int64
grade_num                  9516 non-null int64
sub_grade_num              9516 non-null float64
delinq_2yrs_zero           9516 non-null int64
payment_inc_ratio          9516 non-null float64
dtypes: float64(13), int64(11)
memory usage: 1.7 MB

In [13]:
loans['good_loans'] = loans['bad_loans'].apply(lambda y: 'yes' if y == 0 else 'no')

In [14]:
loans.head()

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,recoveries,collection_recovery_fee,last_pymnt_amnt,bad_loans,emp_length_num,grade_num,sub_grade_num,delinq_2yrs_zero,payment_inc_ratio,good_loans
0,5000,5000,4975,10.65,162.87,24000,27.65,0,1,3,...,0.00,0.00,171.62,0,11,5,0.4,1,8.14350,yes
1,2500,2500,2500,15.27,59.83,30000,1.00,0,5,3,...,117.08,1.11,119.66,1,1,4,0.8,1,2.39320,no
2,2400,2400,2400,15.96,84.33,12252,8.72,0,2,2,...,0.00,0.00,649.91,0,11,4,1.0,1,8.25955,yes
3,10000,10000,10000,13.49,339.31,49200,20.00,0,1,10,...,0.00,0.00,357.48,0,11,4,0.2,1,8.27585,yes
4,5000,5000,5000,7.90,156.46,36000,11.20,0,3,9,...,0.00,0.00,161.03,0,4,6,0.8,1,5.21533,yes

In [16]:
X = loans.drop(['bad_loans', 'good_loans'], axis=1)
y = loans['good_loans']

In [18]:
print(X.shape, y.shape)

(9516, 23) (9516,)