In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
loans = pd.read_csv('lending_club_data01.csv')
loans.head()

,int_rate,installment,open_acc,revol_bal,revol_util,total_acc,bad_loans,grade_num
0,10.65,162.87,3,13648,83.7,9,0,5
1,15.27,59.83,3,1687,9.4,4,1,4
2,15.96,84.33,2,2956,98.5,10,0,4
3,13.49,339.31,10,5598,21.0,37,0,4
4,7.90,156.46,9,7963,28.3,12,0,6

In [9]:
loans.tail()

,int_rate,installment,open_acc,revol_bal,revol_util,total_acc,bad_loans,grade_num
1463,6.62,377.66,11,10825,16.1,25,0,6
1464,18.64,360.41,2,564,70.5,19,0,2
1465,16.29,494.21,15,24536,71.7,29,0,3
1466,7.90,500.65,4,404,31.1,12,0,6
1467,15.27,208.79,6,760,69.1,19,0,4

In [10]:
loans.describe

<bound method NDFrame.describe of       int_rate  installment  open_acc  revol_bal  revol_util  total_acc  \
0        10.65       162.87         3      13648        83.7          9
1        15.27        59.83         3       1687         9.4          4
2        15.96        84.33         2       2956        98.5         10
3        13.49       339.31        10       5598        21.0         37
4         7.90       156.46         9       7963        28.3         12
5        18.64       109.43         4       8221        87.5          4
6        21.28       152.39        11       5210        32.6         13
7        12.69       121.45         2       9279        36.5          3
8        14.65       153.45        14       4032        20.6         23
9        12.69       402.54        12      23336        67.1         34
10       13.49       305.38         4      10452        91.7          9
11        9.91        96.68        11       7323        43.1         11
12       10.65       325.74        14      11997        55.5         29
13       16.29        35.31        11       6524        81.5         23
14       15.27       347.98        14      24043        70.2         28
15        6.03       109.57        20      22836        16.0         42
16        6.03       280.01         8       7314        23.1         28
17       12.42       701.73         7      32135        90.3         38
18       11.71       330.76         8      10056        82.4         21
19       11.71       330.76         6      17800        91.8         17
20       11.71       198.46         7       5963        29.7          7
21        9.91       483.38         8      13707        93.9         31
22       14.27       514.64         7       5872        57.6         11
23       16.77       123.65        14       4345        59.5         22
24       11.71       132.31        12       6110        37.7         44
25       11.71       281.15         8       6441        59.1         12
26        7.51       136.11         6      11210        86.9         12
27        7.90       995.82        12      23151        27.4         26
28        8.90       158.77         8       2224        29.3         16
29       15.96       245.97         6       6113        60.5          6
...        ...          ...       ...        ...         ...        ...
1438      6.62       290.15        12       5943        18.6         22
1439      6.03       243.49         9       1124         3.0         16
1440     15.96       196.77        20       7099        23.6         35
1441      7.90       938.71        11      79761         4.8         39
1442     20.89       626.21        15      35813        81.6         31
1443     14.65       219.55        10       3219        22.0         14
1444     14.27       351.13        10       3470        23.4         14
1445     11.71       200.94         5      11429        82.4         12
1446     14.27       137.24        23      17561        63.6         43
1447     15.27       151.37         7       2740        77.6          9
1448     15.96       267.27         5        763         2.6         32
1449      8.90       214.87         7       9075        44.3         25
1450     14.27       308.79         6       8093        49.0         30
1451     17.27       249.98        11      18081        75.7         17
1452     11.71       661.52        10      12711        84.2         18
1453      8.90       317.54         7      11833        38.5         28
1454     12.69       335.45        21        856         2.3         37
1455     12.42       430.23        10      11690        57.3         30
1456      6.03       121.75         6       4339        24.1         12
1457     11.71        33.08         9      16890        60.8         14
1458     13.49       118.76        17      22059        83.1         40
1459     19.03       325.46        25       7016        39.4         36
1460     11.71        76.08         7       2166        36.7          8
1461     10.65       223.13         7       2173        58.7         14
1462      7.90       187.75        22       9050        22.3         44
1463      6.62       377.66        11      10825        16.1         25
1464     18.64       360.41         2        564        70.5         19
1465     16.29       494.21        15      24536        71.7         29
1466      7.90       500.65         4        404        31.1         12
1467     15.27       208.79         6        760        69.1         19

      bad_loans  grade_num
0             0          5
1             1          4
2             0          4
3             0          4
4             0          6
5             0          2
6             1          1
7             1          5
8             0          4
9             0          5
10            1          4
11            0          5
12            1          5
13            0          3
14            0          4
15            0          6
16            0          6
17            1          5
18            0          5
19            0          5
20            1          5
21            0          5
22            1          4
23            1          3
24            0          5
25            0          5
26            0          6
27            0          6
28            0          6
29            0          4
...         ...        ...
1438          0          6
1439          0          6
1440          0          4
1441          0          6
1442          0          1
1443          1          4
1444          0          4
1445          0          5
1446          0          4
1447          1          4
1448          0          4
1449          0          6
1450          0          4
1451          0          3
1452          1          5
1453          0          6
1454          0          5
1455          0          5
1456          0          6
1457          0          5
1458          0          4
1459          0          2
1460          0          5
1461          1          5
1462          0          6
1463          0          6
1464          0          2
1465          0          3
1466          0          6
1467          0          4

[1468 rows x 8 columns]>

In [11]:
loans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1468 entries, 0 to 1467
Data columns (total 8 columns):
int_rate       1468 non-null float64
installment    1468 non-null float64
open_acc       1468 non-null int64
revol_bal      1468 non-null int64
revol_util     1468 non-null float64
total_acc      1468 non-null int64
bad_loans      1468 non-null int64
grade_num      1468 non-null int64
dtypes: float64(3), int64(5)
memory usage: 91.8 KB

In [13]:
loans['good_loans'] = loans['bad_loans'].apply(lambda y: 'yes' if y==0 else 'no')

In [14]:
loans.head()

,int_rate,installment,open_acc,revol_bal,revol_util,total_acc,bad_loans,grade_num,good_loans
0,10.65,162.87,3,13648,83.7,9,0,5,yes
1,15.27,59.83,3,1687,9.4,4,1,4,no
2,15.96,84.33,2,2956,98.5,10,0,4,yes
3,13.49,339.31,10,5598,21.0,37,0,4,yes
4,7.90,156.46,9,7963,28.3,12,0,6,yes

In [15]:
X = loans.drop(['bad_loans', 'good_loans'], axis=1)
y = loans['good_loans']

print(X.shape, y.shape)

(1468, 7) (1468,)

In [16]:
from sklearn.cross_validation import train_test_split

/home/oteng/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [18]:
from sklearn.tree import DecisionTreeClassifier

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size=0.3, random_state=124)

In [21]:
print(X_train.shape, X_test.shape)

(1027, 7) (441, 7)

In [22]:
print(y_train.shape, y_test.shape)

(1027,) (441,)

In [24]:
model = DecisionTreeClassifier()

In [25]:
model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [31]:
predicted_val = model.predict(X_test)

In [32]:
from sklearn.metrics import classification_report, confusion_matrix

In [33]:
print(confusion_matrix(y_test, predicted_val))

[[ 12  55]
 [ 57 317]]

In [34]:
print(classification_report(y_test, predicted_val))

             precision    recall  f1-score   support

         no       0.17      0.18      0.18        67
        yes       0.85      0.85      0.85       374

avg / total       0.75      0.75      0.75       441

In [35]:
from sklearn.ensemble import RandomForestClassifier

In [37]:
rf_model = RandomForestClassifier(n_estimators = 150) 
rf_model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=150, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [39]:
rf_predict = rf_model.predict(X_test)

In [40]:
print(classification_report(y_test, rf_predict))

             precision    recall  f1-score   support

         no       0.37      0.10      0.16        67
        yes       0.86      0.97      0.91       374

avg / total       0.78      0.84      0.80       441

In [41]:
print(confusion_matrix(y_test, rf_predict))

[[  7  60]
 [ 12 362]]